<section class="main-container contact-page">
  <article>
    <div class="book-container">
      <div class="book-image">
        <img src="<%= book.bookImage %>" alt="book image" onerror="this.src='https://via.placeholder.com/150'" />
      </div>
      <div class="book-info">
        <h2><%= book.name %></h2>
        <h3><%= book.authorName %></h3>
        <p><%= book.description %></p>
        <p><b>Author:</b> <%= book.authorName %></p>
      </div>
    </div>
  </article>
</section>
